@font-face {
font-family: 'gotham';
src: url('file:///android_asset/fonts/Gotham-Book.otf');
}

@font-face {
font-family: 'gotham-bold';
src: url('file:///android_asset/fonts/Gotham-Bold.otf');
}

@font-face {
font-family: 'gotham-medium';
src: url('file:///android_asset/fonts/Gotham-Medium.otf');
}

@font-face {
font-family: 'big_john';
src: url('file:///android_asset/fonts/BIG_JOHN.otf');
 }

 @font-face {
 font-family: 'helvetica';
 src: url('file:///android_asset/fonts/Helvetica.otf');
  }

*{
	margin: 0px;
	padding: 0px;
}

a{
    text-decoration: none;
    color: black;

}
.active{
    background-color:white;
    box-shadow: 0px 10px 40px 0px rgba(109, 213, 250, 0.3);


}

.langue{
    padding: 50px 0 0 55px;
}

.langue p{
    font-size: 18px;
    font-family: gotham, serif;
}

.hide{
    display: none;

}

.show{
    display: block;
}

/* LE MENU*/
.menu-left{
    width:76px;
    height:800px;
    float:left;
    position:relative;
    box-shadow: 0px 10px 40px 0px rgba(109, 213, 250, 0.3);
    background-color:white;
}

.menu-left-position{
    position:absolute;
    width: 76px;
    height:260px;
    bottom:70px;

}
.bloc-image-menu{
    width:76px;
    height:65px;
    text-align:center;
    display:flex;
    align-items:center;
}

.bloc-accueil{
    width:76px;
    height:80px;
    text-align:center;
    margin-top: 60px;
    display:flex;
    justify-content:center;
    align-content:space-around;
    flex-direction: column;
    align-items:center;


}
.bloc-accueil img{
    width:24px;
    height:19px;
}

.bloc-accueil p{
    font-family: gotham;
    font-size: 14px;
    color:#b1b1b1;

}

.bloc-image-menu img{
    margin:auto;
}


.logoB{
    position:absolute;
    top:55px;
    left:100px;
    width:200px;
    height:200px;

}

.logoR{
    position:absolute;
    top:55px;
    left:300px;
    width:200px;
    height:200px;

}


/*FIN MENU*/

.color-vert{
    color: #51d35f !important;
}

.color-bleu{
    color: #69c0ee !important;
}

.color-white{
    color:white !important;
}

h1{
    font-family: gotham-bold;
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;

}


.text-titre{
    position:absolute;
    top:360px;
    left:82px;
    width:500px;
    height:100px;
    font-size: 61px;
    font-family: big_john;
}

.text-sous-titre{
    position:absolute;
    top:514px;
    left:155px;
    width:500px;
    height:100px;
    font-size: 26px;
    font-family: gotham;
}

.text-sous-le-sous-titre{
    position:absolute;
    top:549px;
    left:157px;
    width:500px;
    height:100px;
    font-size: 15px;
    font-family: gotham-bold;
}

.choix{
    position:absolute;
    top:110px;
    right:25px;
    width:500px;
    height:100px;
    font-size: 32.2px;
    font-family: gotham;
    letter-spacing: normal;
}

.bloc-titre p{
    font-family: gotham;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
}

.bloc-titre{
    width: 1168px;
    height: 100px;
    position:absolute;
    top:86px;
    left:112px;

}

/* DEBUT PAGE 1*/
#container-page-un{
    width:100%;
    height:800px;
	background-image: url("file:///android_res/drawable/app_screen_home.png");
    background-repeat: no-repeat;
	background-size: cover;
}

.quatre-vignettes{
	width: 495px;
	height: 495px;
	float: right;
	margin-top: 130px;
	margin-right: 70px;
	display: flex;
    flex-wrap: wrap;

}

.vignette{
	width: 233.5px;
	height: 233.5px;
	margin: 7px;
	border-radius: 10px;
	background-color:white;
	display:flex;
	box-shadow: 0px 10px 40px 0px rgba(109, 213, 250, 0.3);
}

.vignette-content{
    text-align: center;
	margin: auto;
}
/*TEXTE DES CARRRES*/
.vignette-content p{
    font-family: big_john, serif;
    font-size: 16px;
    margin:0 0 5px 0;
 }

 .v-un p, .v-quatre p{
    color : #51D35F;
 }

 .v-deux p, .v-trois p{
    color : #69C0EE;
  }



 .vignette-content span{
    font-family: gotham, serif;
    font-size: 14px;
 }

/*LES IMAGES DES CARRES*/
.v-un p::before{
    display: block;
    content: "";
    background-image: url("file:///android_res/drawable/peak_shaving.png");
    background-size: 65px 65px;
    height: 65px;
    width: 65px;
    margin: 0 auto 5px auto;
}

.v-deux p::before{
    display: block;
    content: "";
    background-image: url("file:///android_res/drawable/autoconsommation.png");
    background-size: 65px 65px;
    height: 65px;
    width: 65px;
    margin: 0 auto 5px auto;
}

.v-trois p::before{
    display: block;
    content: "";
    background-image: url("file:///android_res/drawable/ilot.png");
    background-size: 65px 65px;
    height: 65px;
    width: 65px;
    margin: 0 auto 5px auto;
}

.v-quatre p::before{
    display: block;
    content: "";
    background-image: url("file:///android_res/drawable/time_shifting.png");
    background-size: 65px 65px;
    height: 65px;
    width: 65px;
    margin: 0 auto 5px auto;
}

/* FIN PAGE 1 */

/* DEBUT PAGE 2*/

#container-page-deux{

	position:relative;
}

#container-page-deux .background{
width:100%;
    height:800px;
    background-image: url("file:///android_res/drawable/app_screen_peak.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#container-page-deux .background-avec-batterie{
width:100%;
    height:800px;
	background-image: url("file:///android_res/drawable/app_screen_peak_avec_bat.png");
    background-repeat: no-repeat;
	background-size: cover;
}

.bloc{
 	width: 445px;
 	height: 495px;
 	float: right;
 	margin-top: 185px;
 	margin-right: 70px;
     /*flex-wrap: wrap;*/
     border-radius:10px;
     text-align:justify;
     padding-left: 50px;
     box-shadow: 0px 10px 40px 0px rgba(109, 213, 250, 0.3);
     background-color:white;


 }

 .button_sur_bloc{
    position:absolute;
    right:67px;
    top:120px;
    width: 300px;
    height: 100px;
    float: right;
    border-radius:10px;
    text-align:justify;
    padding-left: 50px;
  }

  .button_sur_bloc button{
    width: 287px;
    height: 50px;
    background-color: #51d35f;
    color:white;
    border : 1px solid #51d35f;
    border-radius: 10px;
    font-size: 14px;
    font-family: gotham-medium;
    box-shadow: 0px 2px 20px 0px rgba(81, 211, 95, 0.7);
  }

 .bloc_deux{
    width: 445px;
    height: 495px;
    float: right;
    margin-top: 185px;
    margin-right: 70px;
    /*flex-wrap: wrap;*/
    border-radius:10px;
    text-align:justify;
    padding-left: 50px;
    box-shadow: 0px 10px 40px 0px rgba(109, 213, 250, 0.3);
    background-color:white;
  }

  .bloc_trois{
      width: 445px;
      height: 495px;
      float: right;
      margin-top: 185px;
      margin-right: 70px;
      /*flex-wrap: wrap;*/
      border-radius:10px;
      text-align:justify;
      padding-left: 50px;
      box-shadow: 0px 10px 40px 0px rgba(109, 213, 250, 0.3);
      background-color:white;
    }

    .bloc_quatre{
        width: 445px;
        height: 495px;
        float: right;
        margin-top: 185px;
        margin-right: 70px;
        /*flex-wrap: wrap;*/
        border-radius:10px;
        text-align:justify;
        padding-left: 50px;
        box-shadow: 0px 10px 40px 0px rgba(109, 213, 250, 0.3);
        background-color:white;
      }

.bloc-batterie{
    position:absolute;
    top:234px;
    left:136px;
    width:370px;
    height:80px;
    display:flex;
    justify-content: space-between;

}

.bloc-image-batterie{
    width:100px;
    height:100px;
    position: relative;

}

.bloc-image-batterie-time{
    width:100px;
    height:100px;
    position: relative;

}

.socle{
background-image: url("file:///android_res/drawable/socle_batterie.png");
background-repeat: no-repeat;
}


.bloc-image-fleche{
    width:173px;
    height:80px;
    text-align: center;

}

.bloc-image-fleche p{
    font-family: gotham;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
}

.bloc-image-socle-batterie p{
    font-family: gotham;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;

}

.bloc-image-socle-batterie{
    width:100px;
    height:80px;
}

.bloc-premier-bloc {
    width:100%;
    height: 21px;
    font-family: gotham-bold;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #000000;
    display:block;
    text-align:justify;
    margin: 50px 0 0 0;
}

.bloc-deuxieme-bloc{
    font-family: gotham-bold;
    width:100%;
    height: 45px;
    font-size: 40px;
    font-weight: bold;
    display:block;
    text-align:justify;
    color: #fc1d62;
    margin: 5px 0;

}

.bloc-troisieme-bloc {
  height: 38px;
  font-family: gotham;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  color: #000000;
  display:block;
   text-align:justify;
   margin-bottom: 40px;
}

.bloc-deuxieme-bloc .euro{
    font-family: helvetica;
    font-weight:bold;

}

/* FIN PAGE DEUX*/

/*DEBUT PAGE TROIS*/

#container-page-trois{
	position:relative;
}


#container-page-trois .background{
    width:100%;
    height:800px;
    background-image: url("file:///android_res/drawable/app_screen_autoconsommation.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#container-page-trois .background-avec-batterie{
    width:100%;
    height:800px;
    background-image: url("file:///android_res/drawable/app_screen_autoconsommation.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.text-apres-euro{
    font-family: gotham;
    font-size: 16px;
    color:black;
    font-weight: normal;

}

/* FIN PAGE TROIS*/

/*DEBUT PAGE QUATRE*/

#container-page-quatre{
	position:relative;
}

#container-page-quatre .background{
    width:100%;
    height:800px;
    background-image: url("file:///android_res/drawable/app_screen_time_shifting_hc_sb.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#container-page-quatre .background-avec-batterie{
    width:100%;
    height:800px;
    background-image: url("file:///android_res/drawable/app_screen_time_shifting_hc_ab.png");
    background-repeat: no-repeat;
    background-size: cover;
}




.button-time{
    background-color: #51d35f;
    color: white;
    font-size: 16px;
    font-family: gotham;
    width:235px;
    height:50px;
    border-radius: 10px;
    border: 1px solid #51d35f;
}

.bloc-cinquieme-bloc{
    width: 100%;
    text-align: center;
}

.bloc-quatrieme-bloc{
    width: 100%;
    text-align: center;

}

/*FIN PAGE QUATRE*/

/*DEBUT PAGE CINQ*/

#container-page-cinq{
	position:relative;
}

#container-page-cinq .background{
    width:100%;
    height:800px;
    background-image: url("file:///android_res/drawable/app_screen_ilot.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#container-page-cinq .background-avec-batterie{
    width:100%;
    height:800px;
    background-image: url("file:///android_res/drawable/app_screen_ilot_avec_bat.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.blocs{
    width: 445px;
    height: 495px;
    /*float: right;
    margin-top: 185px;
    margin-right: 70px;*/
     /*flex-wrap: wrap;*/
     border-radius:10px;
     text-align:justify;
     padding-left: 50px;
     box-shadow: 0px 10px 40px 0px rgba(109, 213, 250, 0.3);
     background-color:white;
     z-index: 20;
     position:absolute;
     top:185px;
     right: 70px;


}


.blocs_deux{
    width: 445px;
    height: 495px;
    /*float: right;
    margin-top: 185px;
    margin-right: 70px;*/
    /*flex-wrap: wrap;*/
    border-radius:10px;
    text-align:justify;
    padding-left: 50px;
    box-shadow: 0px 10px 40px 0px rgba(109, 213, 250, 0.3);
    background-color:white;
    z-index: 20;
    position:absolute;
    top:185px;
    right: 70px;
}

.nuage-foreground{
    position:absolute;
    top:100px;
    right:20px;
    width:350px;
    height:350px;
    background-image: url("file:///android_res/drawable/nuage_foreground.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 30;
}


.nuage-background{
    position:absolute;
    top:100px;
    right:400px;
    width:350px;
    height:350px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("file:///android_res/drawable/nuage_background.png");
    z-index:10;
}

/*FIN PAGE CINQ*/

/*DEBUT PAGE SIX*/

#container-page-six{
	position:relative;
}

#container-page-six .background{
    width:100%;
    height:800px;
    background-image: url("file:///android_res/drawable/app_screen_autoconsommation_deux.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.bloc-batterie-auto-deux{
    position:absolute;
    top:7px;
    left:257px;
    width:370px;
    height:80px;
    display:flex;
    justify-content: space-between;

}

.bloc-image-socle-batterie-auto-deux p{
    font-family: gotham;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;

}

.bloc-image-socle-batterie-auto-deux{
    position:absolute;
    top:0px;
    left:250px;
    width:100px;
    height:80px;
}


/*FIN PAGE SIX*/

/*DEBUT PAGE SEPT*/
#container-page-quatre{
	position:relative;
}

#container-page-sept .background{
    width:100%;
    height:800px;
    background-image: url("file:///android_res/drawable/app_screen_time_shifting_hc_sb.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#container-page-sept .background-avec-batterie{
    width:100%;
    height:800px;
    background-image: url("file:///android_res/drawable/app_screen_time_shifting_hc_ab.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/*FIN PAGE SEPT*/



/* Ajout David
#container-page-un
{
    opacity: 0;
}*/

.vignette, #container-page-un p, #container-page-un span
{
    opacity: 0;
}

.mirror
{
    position: fixed;
    top: 242px;
    left: 413px;
}
